<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="I am a Node.js and JavaScript Software
    Engineer">
    <meta name="subject" content="David Hull's Portfolio">
    <meta name="language" content="en">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">

    <meta name="author" content="David Hull">

    <% include partials/favicon.ejs %>

    <!-- Modernizr -->
    <script src="/javascripts/modernizr-custom.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0d73732f93.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <span id="js-navbar-toggle" class="navbar-toggle">
          <i class="fas fa-bars"></i>
        </span>
        <!-- Logo -->
        <h1 class="logo">
          <span role="img" aria-label="Person sword fighting">🤺</span>
          <!--David Hull-->
        </h1>

        <ul id="js-menu" class="main-nav" >
          <li>
            <a href="#" class="nav-links">About Me</a>
          </li>
          <li>
            <a href="#" class="nav-links">Portfolio</a>
          </li>
          <li>
            <a href="#" class="nav-links">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container brain-main-container">
        <!--<img id="main-brain" class="rotateimg330" src="/images/brain-260x260.png" sizes="50vw" srcset="<%= srcset %>" alt="<%= altText %>"/>-->
      <!--<h1 id="main-brain" class="rotateimg330">🤠</h1>-->
    </div>

    <div class="container hello">
      <div class="col">
        <h1 class="second-color big-hello ">Hello
          <span role="img" aria-label="Waving hand emoji"> 👋 </span>
            ,
          <br/>
            I'm <span class="main-color"> David</span>
        </h1>
        <br/>
        <h4 class="second-color medium-hello">A <span class="main-color">Node.js</span> Developer </h4>
        <br/>
        <br/>
        <a href="#about" class="button"> About Me </a>
      </div>
    </div>

    <div class="container arrow-down">
      <a id="down-arrow" href="#about">
        <i class="fas fa-angle-down fa-lg main-color"></i>
      </a>
    </div>


    <!-- About Me Section -->
    <div id="about" class="container about-me">
      <div class="container about-me">
        <h2 class="main-color"> ABOUT ME </h2>
        <h3 class="paragraph-text">In case you were <span role="img" aria-label="Thinking emoji">🤔</span>...
        </h3>
      </div>

      <div class="container about-me">
        <p class="paragraph-text">
          I will not insult your intelligence by telling you my name here-now in this paragraph-since, more than
          likely, you have already gathered it.
          After all, my name is all over this very website. Nor will I go into detail about my life before software
          developmentBe
          that as it
          may, I will
          tell you
          what follows
          below.
        </p>
        <br/>
        <p class="paragraph-text">
          I am a <span class="highlight-node">Node.js</span> and <span class="highlight-node">JavaScript</span>
          software engineer.
          Nothing else.
          You might ask me, “But David, how can that
          be good for your career?” I would respond, “It’s probably not. Howbeit, I love Node.js and JavaScript, so I
          made it my life’s work.” That’s a bit romantic, right? The complete truth, however, is much more relatable for most developers - I got tired of knowing very little of very many technologies. Although I do love Node.js and JavaScript, I cannot rule out the reason of my love being the fact most of my exposure is with those two technologies. It certainly may have turned out differently if I had been raised in a traditional computer science home. Nevertheless I was not and have instead taken a rather perilous and frustratingly slow journey through the great mountains of computer science. I do not know if it is possible to conquer this tremendous sierra, but I do know there is no hope if I keep visiting every village I may cross paths with - for their numbers are vast and all promise shelter from the cold, a soft bed, and food to satisfy my ever ravenous curiosity. Rather, I shall sleep in the cold and face the winds of the mountains with Node.js and JavaScript hand-in-hand until we perish amongst the rocks or triumphantly summit the last peak.
        </p>
      </div>
    </div>


    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>

</html>
