<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I am a Node.js and JavaScript Software
    Engineer">
    <meta name="author" content="David Hull">

    <!-- Modernizr -->
    <script src="/javascripts/modernizr-custom.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0d73732f93.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
        </span>
        <a href="#" class="logo">
          <img src="/images/icons/favicons/favicon-76.png" alt="A really cool
             logo" />
        </a>
        <ul class="main-nav" id="js-menu">
          <li>
            <a href="#" class="nav-links">About Me</a>
          </li>
          <li>
            <a href="#" class="nav-links">Portfolio</a>
          </li>
          <li>
            <a href="#" class="nav-links">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="col">
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>

</html>
