<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I am a Node.js and JavaScript Software
    Engineer">
    <meta name="author" content="David Hull">

    <% include partials/favicon.ejs %>

    <!-- Modernizr -->
    <script src="/javascripts/modernizr-custom.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0d73732f93.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <span id="js-navbar-toggle" class="navbar-toggle">
          <i class="fas fa-bars"></i>
        </span>
        <!-- Logo -->
        <h4 class="logo"> David Hull</h4>

        <ul id="js-menu" class="main-nav" >
          <li>
            <a href="#" class="nav-links">About Me</a>
          </li>
          <li>
            <a href="#" class="nav-links">Portfolio</a>
          </li>
          <li>
            <a href="#" class="nav-links">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container brain-main-container">
        <!--<img id="main-brain" class="rotateimg330" src="/images/brain-260x260.png" sizes="50vw" srcset="<%= srcset %>" alt="<%= altText %>"/>-->
    </div>

    <div class="container">
      <div class="col">
        <h1 class="secondary-theme">Hello
          <span role="img" aria-label="Waving hand emoji"> 👋 </span>
            ,
          <br>
            I'm <span class="main-theme"> David</span>
        </h1>
        <br>
        <h4 class="secondary-theme">A <span class="main-theme">Node.js</span> Developer </h4>

      </div>
    </div>



    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>

</html>
