<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I am a Node.js and JavaScript Software
    Engineer">
    <meta name="author" content="David Hull">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">
      <div class="col">
        <nav class="top-nav">
          <a>
            <img src="/images/icons/IMG_0217-icon.png" alt="A really cool
             logo" />
          </a>
        </nav>
      </div>
    </div>
  </body>

</html>
