body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: "/images/IMG_0218.JPG";
}

html {
  background-image: url("/images/IMG_0218.JPG");
}
a {
  color: #00B7FF;
}

/*@media screen and (max-width: 48rem) {*/
/*  .container .col {*/
/*    width: 95%;*/
/*  }*/
/*}*/

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  overflow: auto;
}

.container .col {
  flex: 1;
  padding: 1rem;
}

