* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.no-flexbox .container {
  background: #eeeeee;
  overflow: auto;
}

.no-flexbox .container .col {
  width: 100%;
  padding: 0 0 0;
  float: left;
}

a {
  color: #00B7FF;
}
/* NAVBAR */
.navbar {
  background-color: black;
  font-size: 18px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  width: 100%;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  justify-content: center;
  margin: 15px auto;
}

.nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.logo {
  /*padding: 1.0rem;*/
}

.navbar-toggle {
  position: absolute;
  top: 17px;
  right: 30px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 48rem) {
  .no-flexbox .container .col {
    width: 100%;
  }
}

@media screen and (max-width: 48rem) {
  .flexbox .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
  }
}

.flexbox .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  overflow: auto;
}

.flexbox .container .col {
  flex: 1;
  /*padding: 1rem;*/
}

/* End of Navbar */


/* Images */
img {
  max-width: 100%;
}
