/*html {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  !*background-image: url("/images/ArrrowBrainCircleLogo.JPG");*!*/
/*}*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

.container {
  background: #eeeeee;
  overflow: auto;
}

.container .col {
  width: 27%;
  padding: 0 0 0;
  float: left;
}

a {
  color: #00B7FF;
}

.top-nav {
  background-color: #2a2a2a;
}

@media screen and (max-width: 48rem) {
  .container .col {
    width: 100%;
  }
}

@media screen and (max-width: 48rem) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  overflow: auto;
}

.container .col {
  flex: 1;
  padding: 1rem;
}

